body {
  margin-top: 110px;
  /* margin: 110px 275px 0 240px; */
  /* margin: 70px 20px 24px 20px; */
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content-wrapper {
  max-width: 945px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-and-who-we-are-section {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  margin-bottom: 96px;
}
.header__title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.045em;
}

.who-we-are-section {
  margin-right: 50px;
}
.who-we-are-section__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;

  text-transform: uppercase;

  margin-bottom: 14px;
}
.who-we-are-section__descr {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.team-section {
  display: flex;
  flex-direction: column;

  margin-bottom: 115px;
}
.team-section__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  height: 485px;

  justify-content: space-between;

  margin-bottom: 27px;
}
.team-section__row:last-child {
  margin-bottom: 0;
}
.team-section__item {
  width: 264px;
  aspect-ratio: 70/100;

  display: flex;
  flex-direction: column;

  gap: 10px;
}
.team-section__item:nth-child(odd) {
  align-self: flex-start;
}
.team-section__item:nth-child(even) {
  align-self: flex-end;
}
.team-section__photo-and-position {
  display: flex;
  flex-direction: row;

  gap: 5px;
}
.team-section__photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  aspect-ratio: 70 / 100;
}
.team-section__photo-wrapper img {
  width: 100%;
  height: 100%;
}
.team-section__position {
  writing-mode: vertical-rl;
  text-transform: uppercase;

  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.team-section__fullname {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #A9A9A9;

  margin-bottom: 24px;
}
.copyright p span {
  font-weight: 700;
  text-decoration: underline;
}

/* ADAPTIVE */
@media (max-width: 1023px) {
  body {
    margin-top: 70px;
  }

  .content-wrapper {
    max-width: calc(100% - 200px);
  }

  .header-and-who-we-are-section {
    flex-direction: column;

    gap: 38px;

    margin-bottom: 60px;
  }
  .header__title {
    font-size: 32px;
  }

  .who-we-are-section {
    margin-right: 0;
  }
  .who-we-are-section__title {
    margin-bottom: 14px;
  }
  .who-we-are-section__descr {
    font-size: 14px;
  }

  .team-section {
    margin-bottom: 134px;
  }
  .team-section__row {
    height: 300px;

    margin-bottom: 16px;
  }
  .team-section__item {
    width: 160px;

    aspect-ratio: 70 /100;
  }
  .team-section__photo-and-position {
    gap: 0;
  }
  .team-section__position {
    font-size: 10px;
  }
  .team-section__fullname {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  body {
    margin-top: 70px;
  }

  .content-wrapper {
    max-width: calc(100% - 200px);
  }

  .header-and-who-we-are-section {
    flex-direction: column;

    gap: 38px;

    margin-bottom: 60px;
  }
  .header__title {
    font-size: 32px;
  }

  .who-we-are-section {
    margin-right: 0;
  }
  .who-we-are-section__title {
    margin-bottom: 14px;
  }
  .who-we-are-section__descr {
    font-size: 14px;
  }

  .team-section {
    margin-bottom: 134px;
  }
  .team-section__row {
    height: 235px;

    margin-bottom: 16px;
  }
  .team-section__item {
    width: 130px;

    aspect-ratio: 70 /100;
  }
  .team-section__photo-and-position {
    gap: 0;
  }
  .team-section__position {
    font-size: 10px;
  }
  .team-section__fullname {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  body {
    margin-top: 70px;
  }

  .content-wrapper {
    max-width: 320px;
  }

  .header-and-who-we-are-section {
    flex-direction: column;

    gap: 38px;

    margin-bottom: 60px;
  }
  .header__title {
    font-size: 32px;
  }

  .who-we-are-section {
    margin-right: 0;
  }
  .who-we-are-section__title {
    margin-bottom: 14px;
  }
  .who-we-are-section__descr {
    font-size: 14px;
  }

  .team-section {
    margin-bottom: 134px;
  }
  .team-section__row {
    height: 265px;

    margin-bottom: 16px;
  }
  .team-section__item {
    width: 130px;

    aspect-ratio: 70 /100;
  }
  .team-section__photo-and-position {
    gap: 0;
  }
  .team-section__position {
    font-size: 10px;
  }
  .team-section__fullname {
    font-size: 14px;
  }
}
@media (max-width: 374px) {
  body {
    margin-top: 70px;
  }

  .content-wrapper {
    max-width: 280px;
  }

  .header-and-who-we-are-section {
    flex-direction: column;

    gap: 38px;

    margin-bottom: 60px;
  }
  .header__title {
    font-size: 32px;
  }

  .who-we-are-section {
    margin-right: 0;
  }
  .who-we-are-section__title {
    margin-bottom: 14px;
  }
  .who-we-are-section__descr {
    font-size: 12px;
  }

  .team-section {
    margin-bottom: 134px;
  }
  .team-section__row {
    height: 235px;

    margin-bottom: 16px;
  }
  .team-section__item {
    width: 130px;

    aspect-ratio: 70 /100;
  }
  .team-section__photo-and-position {
    gap: 0;
  }
  .team-section__position {
    font-size: 10px;
  }
  .team-section__fullname {
    font-size: 14px;
  }
}
